* {
    font-family: "Geist", sans-serif;
}

/*status */
.open{
    background-color: #00A96E;
    color: ;
}

/* priority */
.high {
    background-color: #FEECEC;
    color: #EF4444;
}

.medium {
    background-color: #FFF6D1;
    color: #F59E0B;
}

.low {
    background-color: #EEEFF2;
    color: #9CA3AF;
}

/* labels */
.bug {
    background-color: #FEECEC;
    color: #EF4444;
    border-color: #EF4444;
}

.help-wanted {
    background-color: #FFF8DB;
    color: #D97706;
    border-color: #D97706;
}

.enhancement {
    background-color: #DEFCE8;
    color: #00A96E;
    border-color: #00A96E;
}

.good-first-issue {
    background-color: #F3E8FF;
    color: #9333EA;
    border-color: #9333EA;
}

.documentation {
    background-color: #E8F1FF;
    color: #2563EB;
    border-color: #2563EB;
}